@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

.prose {
  color: #000000;
  line-height: 1.6;
}

/* remove weird tiny grays at each corner */
.prose :where(pre):not(:where([class~="not-prose"] *)) {
  background-color: transparent !important;
}

/* change single backtick i.e <code> from prose to github like */
.prose :where(code):not(:where([class~="not-prose"] *)):before,
:after {
  content: "" !important;
}

/* change single backtick i.e <code> from prose to github like */
.prose :not(pre *):where(code):not(:where([class~="not-prose"] *)) {
  font-weight: 400 !important;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: #eff1f3;
  border-radius: 6px;
}

.prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
  color: #0f1419 !important;
}

.prose :where(a):not(:where([class~="not-prose"] *, .react-tweet-theme *)) {
  @apply text-blue-600 !important;
  font-weight: 400 !important;
}

.prose,
.prose-lg
  :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *, [class~="react-tweet-theme"])) {
  margin-top: 0em !important;
}

.prose,
.prose-lg {
  :where(div.react-tweet-theme img) {
    margin-top: 0em !important;
    margin-bottom: 0em !important;
  }
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::before {
  content: none;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
  font-weight: 400;
  font-style: normal;
  color: #0f1419;
  border-left-color: #d0d7de;
  /* border-left-width: 0.25rem; */
  /* border-left-color: var(--tw-prose-quote-borders); */
  /* margin-top: 1.6em; */
  /* margin-bottom: 1.6em; */
  /* padding-left: 1em; */
}

/* from github */
.prose :where(section):not(:where([class~="not-prose"] *)) {
  background-color: #f6f8fa !important;
  line-height: 1.5;
}

/* from github */
.prose :where(.linenumber):not(:where([class~="not-prose"] *)) {
  font-size: 12px;
  color: #6e7781;
  padding-right: 16px !important;
}

pre > code {
  /* from github */
  background-color: #f6f8fa !important;
  padding: 0.5em !important;
  text-wrap: wrap;
}

img {
  max-width: 24rem;
}

.react-tweet-theme {
  --tweet-body-font-size: 1rem !important;
}

.tweet-header_authorFollow__w_j4h,
.tweet-info_infoLink__xdgYO,
.tweet-replies_replies__PUxl8,
.tweet-actions_actions__UDw7H {
  display: none !important;
}

.tweet-info_info__ll_kH {
  margin-top: 1rem !important;
}

.tweet-container_root__0rJLq:hover {
  background-color: var(--tweet-bg-color) !important;
}

@media (prefers-color-scheme: dark) {
  .tweet-container_root__0rJLq:hover {
    background-color: var(--tweet-bg-color) !important;
  }
}
